<h1> Add Admin </h1>

<%= form_for @admin, :method => :post, :action => :create do |f|%>

  <p> <%= render(:partial => "users/form", :locals => { :f => f, :user => @admin })%> </p>
    <p><%= select :admin, :role_id, [['SuperAdmin', 1],['Admin', 2]] %></p>

<%end%>  


