<h1>Edit</h1>

<%= form_for @user, :remote => true, :method => :put, :action => :edit do |f|%>
  
  <div id="edit-form"> <%= render(:partial => "form", :locals => { :f => f, :user => @user })%> </div>
<%end%>  


